.desired-courses-row > p {
    margin-bottom: 0;
}

.desired-courses-title {
    width: 60%;
}

.desired-courses-category {
    width: 20%;
}

.course-title {
    color: black;
    border: none;
    background: none;
    &:hover {
        background: none;
    }
}

.message-container{
    width: 100%;
    text-align: right;
  
    .fellow-message{
        margin-bottom: 15px;
        font-size: 12.5px;
        font-weight: bold;

        .badge{
            color: #1890ff;
       }
    };
   
}


