.settings-faq-tab {
  .add-btn {
    margin-bottom: 20px;
  }
  .action-buttons {
    i {
      margin-left: 10px;
    }
    .anticon-edit {
      color: #1890ff;
    }
    .anticon-delete {
      color: red;
    }
  }
}
.faq-modal-input {
  margin-bottom: 25px;
}
