.add-tokens-user-details {
    margin-bottom: 35px;

    .user-current-balance{
        text-align: center;

        h4{
            text-decoration: underline;
            margin-bottom: 15px;
            font-weight: 700;
            line-height: 24px;
            font-size: 16px;
        }
    }
}

.amount-of-tokens{
    margin-bottom: 15px;
}