.settings-fellows-tab {
  .header-section {
    display: flex;
    justify-content: space-between;
    .right-side {
      margin-right: 50px;
    }
  }
  .add-fellow-button {
    margin-bottom: 25px;
    margin-right: 10px;
  }
  .fellow-image-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }
  .fellow-description-container {
    max-width: 430px;
  }
  .fellow-image-container {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.settings-fellow-modal {
  .fellow-modal-input {
    margin-bottom: 15px;
    label {
      margin-bottom: 6px;
      display: inline-block;
    }
  }
}