.promotion-codes-container {
  .promotion-codes-form {

    .send-emails {
      width: 30%;
      margin-right: 5%;
      margin-top: 5%
    }
    .search-test-email {
      width: 70%;
    }

    .email-text-editor {
      margin-top: 1%;
    }

    .ant-form-item-label {
      text-align: left;
    }

    .space-from-left{
      margin-left: 8% !important
    }

    .small-space-from-left{
      margin-left: 2% !important
    }

  }
}
