.password-reset-container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgb(83, 150, 209), rgb(91, 200, 171));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset-card-container {
    align-items: center;
    height: 100%;
    width: 100%;
}

.password-reset-card-column {
    margin: 50px 0;
}

.password-reset-card {
    border-radius: 10px;
    padding: 20px;
}

.password-reset-header {
    background: url("/img/academy_logo.svg") no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 20px;
}

.component-title {
    text-align: center;
    margin-top: 20px;
}

.password-reset-input {
    margin-bottom: 10px;
}

.password-reset-btn-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.reset-btn {
    min-width: 168px;
    height: 48px;
}
