.siteHeader {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(83, 150, 209), rgb(91, 200, 171));
    padding: 0 20px;
    transition: width 0.2s;
    position: fixed;
    z-index: 10;
    .activeLabsContainer {
        .activeLab {
            line-height: normal;
        }
        .activeLab a {
            color: #FFFFFF;
        }
    }
    .rightContainer {
        display: flex;
        align-items: center;
        // min-width: 250px;
        justify-content: flex-end;
        color: #fff;
        font-size: 20px;
        line-height: normal;
    }
    .avatarContainer span {
        background-color: transparent;
    }
    .notificationContainer {
        margin-right: 10px;
        margin-top: 8%;
        .notificationButton {
            font-size: 20px;
            color: #FFFFFF;
        }
    }

        .logoutContainer {
            display: flex;
            align-items: center;
        }
        .progressCount{
            margin-bottom: 0;
            font-size: 16px;
        }
    }

.triggerContainer .trigger {
    color: #fff;
    font-size: 20px;
}

.loginIcons{
    margin-left: 20px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    .walletContainer {
        display: flex;
        align-items: center;
        color: white;
    }
}

.offline {
    margin-right: 2px;
}


@media (max-width: 7685px) {
    .activeLabsContainer {
        .activeLab {
            padding: 10px;
        }
    }
}

@media (max-width: 425px) {
    .activeLabsContainer {
        .activeLab {
            width: 100px;
            font-size: 8px;
            padding: 0 10px;
        }
    }
}

.antNotificationsMenuItem {
    width: 250px;
    font-weight: bold;
    white-space: normal;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

.general-notification{
    position: fixed;
    z-index: 11;
    color: #FFFFFF;
    width: 100%;
    white-space: nowrap;
}


