.buttonsContainer {
  .send-email-container {
    button:first-of-type {
      background: #1890FF 0% 0% no-repeat padding-box;
      color: #fff;
      border: none;
    }
    button {
      color: #fff;
      background: #59C0AF 0% 0% no-repeat padding-box;
      border: none;
    }
  }
}